* {
  margin: 0;
  padding: 0;
}

h1 {
	font: 700 2.7em 'Averia Serif Libre', serif;
	color: #d7d6d6;
}

h2 {
	font: 700 'Averia Serif Libre', serif;
	color: #d7d6d6;

}

body {
	font: 300 1em 'Averia Serif Libre', serif;
	color: #d7d6d6;
	background-color: #c7c7c7;
}

section {
	margin: 0em 0.5em 0.5em 0.5em;
	
}

.header {
	margin: 0em 0.5em 0.5em 0.5em;
	padding-top: 0.5em;
	
}

.title {
	float: right;
	margin-right: 6.5em;
}

.logo {

}

.container {
	min-width: 320px;
	max-width: 480px;
	height: 1000px;
	margin: 0 auto;
	background-color: #484d52;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 30px 5px #888;
}

.navbar {
	margin: 0 0em 4em 0em;

}

.nav {
	width: 100%;
	float: left;
	padding: 0;
	list-style: none;
	background-color: #272a2e;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; 
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);


}

.nav li {
	float: left; 

}

.nav li a {
	display: block;
	padding: 8px 0.5em;
	text-decoration: none;
	font-weight: 400;
	color: #fff;
	border-right: 1px solid #ccc; 

}

.nav li a:hover {
	color: #c00;
	background-color: #fff; 
	transition: .3s;

}

.about h3 {
	line-height: 2em;
}

.about img {
	position: relative;
	float: right;
	margin: 0 1em 0 0;
}

.poll, .contact, .results {
	display: none;		
}

.poll p {
	padding: 0.5em 0em 0em 1.5em;
	line-height: 2em;	

}

.submit {
	width: 25%;
	height: 2em;
	clear: both;
	border: 1px solid #000;
	-webkit-box-shadow: 0 0 4px #454545;
	-moz-box-shadow: 0 0 4px #fff;
	box-shadow: 0 0 4px #fff;

}

#button {
	width: 50%;
}


.contact h2 {
	float: left;
	clear: both;
	display: inline-block;
}

#conp2 {
	margin: 1em 0 1em 0;
}

.social {
	float: right;
    margin: 0.2em 0 0 1em;
    margin-left: 35px !important;
    display: inline-block;

}

.social li {
    float: left;
    border-bottom: none !important;
    list-style-type: none !important;
}
 
.social li a{
    float: left;
    height: 23px;
    width: 23px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/social-icons.png);
}

.social #tw{
    background-position: 0 0;
}
 
.social #tw:hover{
    background-position: 0 -23px;
}
 
.social #fb{
    background-position: -23px 0;
}
 
.social #fb:hover{
    background-position: -23px -23px;
}
 
.social #rss{
    background-position: -46px 0;
}
 
.social #rss:hover{
    background-position: -46px -23px;
}
 
.social #plus{
    background-position: -69px 0;
}
 
.social #plus:hover{
    background-position: -69px -69px;
}

