* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'sansita_oneregular';
    src: url('../fonts/sansitaone-webfont.eot');
    src: url('../fonts/sansitaone-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansitaone-webfont.woff') format('woff'),
         url('../fonts/sansitaone-webfont.ttf') format('truetype'),
         url('../fonts/sansitaone-webfont.svg#sansita_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'klinic_slabbook';
    src: url('../fonts/klinicslabbook-webfont.eot');
    src: url('../fonts/klinicslabbook-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinicslabbook-webfont.woff') format('woff'),
         url('../fonts/klinicslabbook-webfont.ttf') format('truetype'),
         url('../fonts/klinicslabbook-webfont.svg#klinic_slabbook') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'klinic_slabbold';
    src: url('../fonts/klinicslabbold-webfont.eot');
    src: url('../fonts/klinicslabbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinicslabbold-webfont.woff') format('woff'),
         url('../fonts/klinicslabbold-webfont.ttf') format('truetype'),
         url('../fonts/klinicslabbold-webfont.svg#klinic_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {
	font-family: 'sansita_oneregular'; 
	font-size: 2.5em;
}

h2 {
	font-family: 'klinic_slabbold';
}

body {
	font-family: 'klinic_slabbook';
/*	background-color: #7f7f7f;
*/	text-rendering: optimizelegibility;
}

section {
	/*height: 10em;*/
	margin: 0em 0.5em 0.5em 0.5em;
	
}

.header {
	margin: 0em 0.5em 0.5em 0.5em;
	padding-top: 0.5em;
	/*background-color: green;*/

}

.container {
	min-width: 320px;
	max-width: 480px;
	height: 600px;
	margin: 0 auto;
	background-color: white;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 30px 5px #888;
}

.navbar {
	margin: 0 0em 4em 0em;

}

.nav {
	width: 100%;
	float: left;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; 
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);


}

.nav li {
	float: left; 



}

.nav li a {
	display: block;
	padding: 8px 25px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; 


}

.nav li a:hover {
	color: #c00;
	background-color: #fff; 
	transition: .3s;


}

.about h3 {
	line-height: 2em;
}

.poll, .contact, .results {
	display: none;		
}

.poll p {
	padding: 0.5em 0em 0em 1.5em;
	line-height: 2em;	

}

.poll input {
    width: 100%;
    clear: both;
}

#button {
	width: 50%;
}

